:root {
  --font-primary: system-ui, sans-serif;
  /* COLOURS*/
  --color-primary: rgb(30, 30, 30);
  --color-secondary: rgb(255, 255, 255);
  --color-bg: rgb(204, 204, 204);
  --color-h2: rgb(47, 158, 68);
  --color-h3: rgb(68, 139, 205);
}

/*===========================================
                RESETS
===========================================*/
html {
  font-family: var(--font-primary);
}

body {
  background-color: var(--color-bg);
  color: var(--color-primary);
  font-size: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: circle;
}

li {
  list-style-position: inside;
  text-indent: 2rem;
}

a {
  color: inherit;
}

/*==================================
            TYPOGRAPHY
==================================*/
.title {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 1.25rem 0 0.25rem;
}

.subtitle,
.heading {
  color: var(--heading-two-color);
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

.subtitle,
.heading,
h3 {
  font-weight: 400;
}

.heading {
  margin-top: 1rem;
}

h3 {
  color: var(--heading-three-color);
  font-size: 1.25rem;
}

/*==================================
            LAYOUT
==================================*/
.main-page {
  background-color: var(--secondary-color);
  border: 0.1875rem solid var(--primary-color);
  margin: 2rem auto;
  padding: 3.5rem;
  width: fit-content;
}

.address {
  align-items: center;
  display: flex;

  .icon {
    width: 1.75rem;
  }
}

/*==================================
            COMPONENTS
==================================*/
.top-rule {
  background-color: var(--primary-color);
  border: none;
  color: var(--primary-color);
  height: 0.1875rem;
}

.icon {
  width: 1.25rem;
  vertical-align: bottom;
}

@media (width <= 800px) {
  body {
    margin: 0 1.5rem;
  }

  .title,
  .subtitle,
  .heading,
  address {
    text-align: center;
  }

  .address {
    margin: auto;
  }
}
